header {
    background-color: var(--header-bg-color);
    color: var(--header-font-color);

    border-radius: 0 0 var(--br-sections) var(--br-sections);

    nav {
        display: flex; 
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        width: 100%;

        img {
            order: -1;

            width: 30px;
            filter: brightness(0) saturate(100%) invert(85%) sepia(38%) saturate(582%) hue-rotate(97deg) brightness(98%) contrast(84%);
        }
    }
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .filter {
        background-color: var(--highlight-bg-color);
        border-radius: 0 0 var(--br-sections) var(--br-sections);
        padding: 1rem 1rem 4rem 1rem;
        text-align: center;
        position: relative; 

        width: 80vw;
        max-width: 40rem;
    
        h2 {
            padding-bottom: 1rem;
        }

        form {
            display: flex; 
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }

    .selected-students {
        margin-top: 5rem;
        margin-bottom: 5rem;

        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    
        gap: 5rem;
    
        .student-card {
            position: relative; 
            width: 85vw;
            max-width: 21rem;
    
            display: grid; 
            grid-template-areas: "img" "info";
    
            article {
                grid-area: info;
    
                background-color: var(--fav-color);
                border-radius: var(--br-cards);
    
                display: flex; 
                flex-direction: column;
                align-items: center;
                gap: 0rem;
    
                padding: 8rem 0 .8rem 0;
    
                @media (min-width: 230px) {
                    padding-top: 10rem;
                }
    
                @media (min-width: 280px) {
                    padding-top: 12rem;
                }
    
                @media (min-width: 340px) {
                    padding-top: 15rem;
    
                    flex-direction: row;
                    justify-content: center;
                    gap: 1rem;
                }
    
                a {
                    display: flex; 
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                    img {
                        width: 20px;
                    }
                }
            }
    
            .student-avatar {
                grid-area: img; 
    
                width: 80%;
                height: 16.7rem;
                object-fit: cover;
                max-width: 17.5rem;
                border-radius: var(--br-images);
    
                position: absolute;
                left: 50%; 
                translate: -50% -20%;
            }
        }

    }
}
