/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* General */
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

/* Custom */
body {
    /* Colors */
    --header-bg-color: #050542; 
    --header-font-color: #66e5bf; 
    --highlight-bg-color: #a675f4; 
    --main-bg-color: #ffffff;

    /* Border radius */
    --br-sections: 1.5rem; 
    --br-images: .5rem; 
    --br-cards: .5rem;
    --br-buttons: .3rem;

    /* Font */
    font-size: 16px; 
    --font-family: "Open Sans", serif;  
    font-family: var(--font-family);
    font-weight: 400; 

    /* Font weights */
    --weight-light: 300; 
    --weight-medium: 500; 
    --weight-semibold: 600; 
    --weight-bold: 700; 
    --weight-extrabold: 800; 
}

/* List */
li {
    list-style-type: none;
}

form {
    label {
        color: var(--fav-color);
    }

    button {
        position: absolute; 
        bottom: 1rem; 
        left: 50%; 
        translate: -50% 0%; 
    }
}

button {
    appearance: none;
    background: transparent;
    border: none;
    font-family: var(--font-family);
    font-size: 16px;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    padding: .5rem 1rem;
    border-radius: var(--br-buttons);
    cursor: pointer; 
    transition: .2s ease-in-out;

    &:hover {
        background-color: var(--header-font-color);
        color: var(--header-bg-color);
    }
}

.student-card {
    background-color: var(--fav-color);
  }
  
  .student-card a,
  .student-card h3 {
    filter: invert(1) contrast(100%);
  }
  
  .student-card img {
    filter: none; /* Ensure images are not inverted */
  }
  
  
  